<div id="author">
  <h2>Authorization</h2>
  <br />
  <form class="form-horizontal">
    <div class="form-group" id="password-form-group">
      <label for="input-password" class="col-xs-3 control-label">Password</label>
      <div class="col-xs-9">
        <input
          type="password"
          class="form-control input-lg"
          id="input-password"
          placeholder="Password"
          v-model="password"
        >
      </div>
    </div>
    <div class="form-group">
      <label for="input-hash" class="col-xs-3 control-label">Hash</label>
      <div class="col-xs-9">
        <input
          type="text"
          class="form-control input-lg"
          id="input-hash"
          placeholder="default: 'default'"
          v-model="hash"
        >
      </div>
    </div>
    <div class="form-group">
      <label for="input-expire" class="col-xs-3 control-label">Expires In</label>
      <div class="col-xs-9">
        <input
          type="text"
          class="form-control input-lg"
          id="input-expire"
          placeholder="1h | 1d | 30d | 1y default: '2h'"
          v-model="expiresIn"
        >
      </div>
    </div>
    <button
      type="submit"
      class="btn btn-default btn-lg"
      id="submit"
      @click="onSubmit"
    > Submit 
    </button>
  </form>
</div>